appdirs==1.4.4
asn1crypto==0.24.0
c3dl==0.6.0
certifi==2018.1.18
chardet==3.0.4
click==7.1.2
configparser==5.0.0
cryptography==2.1.4
distlib==0.3.1
docker-pycreds==0.4.0
et-xmlfile==1.0.1
filelock==3.0.12
fire==0.3.1
flask-cors==3.0.8
flask==1.1.2
fortuna==0.0.4
future==0.18.2
gitdb==4.0.5
gitpython==3.1.7
gql==0.2.0
graphql-core==1.1
idna==2.6
importlib-metadata==1.7.0
importlib-resources==3.0.0
itsdangerous==2.0.0a1
jdcal==1.4.1
jinja2==3.0.0a1
joblib==0.16.0
keyring==10.6.0
keyrings.alt==3.0
markupsafe==2.0.0a1
nodejs==0.1.1
npm==0.1.1
numpy==1.19.0
nvidia-ml-py3==7.352.0
openpyxl==3.0.4
optional-django==0.1.0
pandas==1.1.0rc0
pathtools==0.1.2
pillow==7.2.0
pip==9.0.1
promise==2.3
psutil==5.7.2
pycrypto==2.6.1
pygobject==3.26.1
pyhdfs==0.3.1
pykerberos==1.1.14
pymongo==3.10.1
python-dateutil==2.8.1
pytz==2020.1
pyxdg==0.25
pyyaml==5.3.1
redis==3.5.3
requests-kerberos==0.11.0
requests==2.18.4
revtok==0.0.3
scikit-learn==0.23.1
scipy==1.5.1
secretstorage==2.3.1
sentencepiece==0.1.92
sentry-sdk==0.16.1
setuptools==39.0.1
shortuuid==1.0.1
simplejson==3.17.2
six==1.11.0
smmap==3.0.4
ssh-import-id==5.7
subprocess32==3.5.4
termcolor==1.1.0
threadpoolctl==2.1.0
torch==1.6.0
torchtext==0.6.0
torchvision==0.7.0
tqdm==4.48.0
urllib3==1.22
virtualenv==20.0.30
wandb==0.9.3
watchdog==0.10.3
werkzeug==1.0.1
wheel==0.30.0
xlrd==1.2.0
zipp==3.1.0